Container {
    layout: horizontal;
}

Input {
    width: 100%;
}

.display_container {
    layout: vertical;
    width: 50%;
}

.path_input {
    width: 100%
}

DisplayContainer {
    width: 100%;
}

TreeInput {
    width: 20%;
}
